.checkBoxWrapper {
  .checkWrapper {
    display: flex;
    .thickWrapper {
      display: flex;
      align-items: center;
    }
    .titleWrapper {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }
  }
  .childrenWrapper {
    padding-left: 1rem;
  }
}